<a href="https://colab.research.google.com/github/Nitish9973/song_data_analysis/blob/main/Functions_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Quiz 1

function random():
    return True

random()

SyntaxError: ignored

In [ ]:
# Quiz 2

def abc():
    return "I am a function!"

abc()

# "I am a function'
# 'I am a function"
# "I am a function"

In [ ]:
# Quiz 3

def sum(a, b):
   return a+b

sum(3, 5)

# We are not print the sum
# So output will be Nothing

In [ ]:
# Quiz 4

a = 10

def calculator(number):
    print(number * 10)

calculator(a)
print(a)

100
10

In [ ]:
# Quiz 5

a = 57

def simple_function(a):
  if a <= 10:
    return "SMALL"
  elif a > 10:
    return "BIG"

print(simple_function(a))

BIG

Positional arguments

In [ ]:
def introduce_family(my_name, father_name, mother_name):
    print("My name is", my_name)
    print("My father's is", father_name)
    print("My mother's is", mother_name)

In [ ]:
introduce_family("Harry", "James", "Lily")

My name is Harry
My father's is James
My mother's is Lily

Default arguments

They're defined in the function definition

In [ ]:
def introduce_family(father_name, mother_name, my_name = "Harry"):
    print("My father's is", father_name)
    print("My mother's is", mother_name)
    print("My name is", my_name)

In [ ]:
# If I give input for default argument
# The value I give will be used

introduce_family("James", "Lily", "Aarnav")

My father's is James
My mother's is Lily
My name is Aarnav

In [ ]:
# If I don't give input for default argument
# Then default value will be used

introduce_family("James", "Lily")

My father's is James
My mother's is Lily
My name is Harry

In [ ]:
# Print today's date

def today(date = 1, month = 1, year = 2024) :
  print(date, '/', month, '/', year)

today()
today(10)
today(10, 3)
today(10, 3, 2021)

1 / 1 / 2024
10 / 1 / 2024
10 / 3 / 2024
10 / 3 / 2021

In [ ]:
# Rule -> Default arguments always come after non-default arguments

# Example of errors
# mult(a=3, b)
# Correct -> mult(b, a=3)
# mult(a, b=3, c)
# Correct -> mult(a, c, b=3)
# mult(a, b=3, c, d=4)
# Correct -> mult(a, c, b=3, d=4)

def mult(a=3, b) :
  print(a * b)

mult(2, 4)

SyntaxError: ignored

Keyworded Arguments

Give input value for function arguments in random order

In [ ]:
def introduce_family(father_name, mother_name, my_name):
    print("My father's is", father_name)
    print("My mother's is", mother_name)
    print("My name is", my_name)

In [ ]:
introduce_family(
    my_name = "Harry",
    father_name = "James",
    mother_name = "Lily"
)

My father's is James
My mother's is Lily
My name is Harry

In [ ]:
help(introduce_family)

Help on function introduce_family in module __main__:

introduce_family(father_name, mother_name, my_name)

In [ ]:
# Rule - Positional argument comes before keyword argument

introduce_family(
    father_name = "James",
    "Lily",
    "Harry"
)

SyntaxError: ignored

Using positional, default and keyworded arguments together

In [ ]:
def family(father, mother, child="Harry") :
  print(father)
  print(mother)
  print(child)

family("James", mother="Lily")
print('-' * 10)
family("James", mother="Lily", child="Aarnav")
print('-' * 10)
family("James", child="Aarnav", mother="Lily")

James
Lily
Harry
----------
James
Lily
Aarnav
----------
James
Lily
Aarnav

In [ ]:
# Quiz 5

def multiply(num1=3, num2):
    return num1 * num2

print(multiply(2, 4))

SyntaxError: ignored

Break -> 10:10pm

Scope of Variable

In [ ]:
chief_of_house = "Mother"
print("Chief of house is - ", chief_of_house)

def change_chief():
    chief_of_house = "Father"
    print("New chief of house is -", chief_of_house)

change_chief()

Chief of house is -  Mother
New chief of house is - Father

In [ ]:
# Case 1

a = 10 # public bathroom

def hello() : # room
  print(a)

hello()

10

In [ ]:
# Case 2

def hello() :
  a = 10
  print(a)

hello()

10

In [ ]:
# Case 3

# Global variable -> Public value accessible to everyone
a = 10 # public bathroom

def hello() : # room
  # Local variable -> Private value accessible within scope
  a = 20 # private bathroom
  print(a)

hello()

20

In [ ]:
# Case 4

# Global
x = 10

def function():
    # Local
    x = 5
    print(x)

function()
print(x)

5
10

In [ ]:
def function():
    y = 5
    print(y)

function()
print(y)

5

NameError: ignored

In [ ]:
# Using global variable inside function

y = 5

def function():
    print(y)

function()

5

In [ ]:
y = 5 # global variable

def function():
    y = 10 # Making local variable
    print(y) # Print local variable

function()
print(y) # Print global variable

10
5

In [ ]:
# Changing global variable inside function

y = 5

def function():
    global y # this line brings global variable inside the function
    y = 10 # not creating a local variable
    print(y)

function()
print(y)

10
10

Lambda functions

Writing function in single line

In [ ]:
# Simple if-else code

x = int(input())

if x > 10 :
  print("> 10")
else :
  print("< 10")

15
> 10

In [ ]:
# Ternary operator

'''
Syntax:
[on_true] if [condition] else [on_false]
'''

x = int(input())

print(">10") if x > 10 else print("<10")

15
>10

Without argument

In [ ]:
def hello() :
  print("Hello")

hello()

Hello

In [ ]:
hello = lambda: print("Hello")

hello()

Hello

With argument

In [ ]:
# Normal
def square(x) :
  return x**2

# Lambda
square = lambda x: x**2
print(square(3))

9

In [ ]:
# Normal
def sum(x, y) :
  return x + y

# Lambda
sum = lambda x, y: x+y
print(sum(3, 4))

7

In [ ]:
# Quiz 6

def function(var):
    print(var)

function(3)

var = 5
function(var)

3
5

In [ ]:
# Quiz 7

def function(var=5):
    var = var + 1
    print(var)

function()
function(10)

6
11